<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CCT NEWS
    </ion-title>
  </ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="Sports">
        Sports
      </ion-tab-button>
      <ion-tab-button tab="Business">
        Business
      </ion-tab-button>
      <ion-tab-button tab="Travel">
        Travel
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        Search
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngFor="let article of topHeadlines">
    <ng-template [ngTemplateOutlet]="articleTemplate" [ngTemplateOutletContext]="{ $implicit: article }"></ng-template>
  </ng-container>

  <ng-template #articleTemplate let-article>
    <ion-list>
      <ion-row style="background-color: rgba(214, 217, 246, 0.482) ; border-radius: 20px;" class="ion-margin">
        <ion-col size="4">
          <img style="width:300px; height: 100px; object-fit: cover; border-radius: 10px;" src="{{article.urlToImage}}" />
        </ion-col>
        <ion-col size="8" (click)="getDetails(article)">
          <ion-label>
            <p style="color: white;">{{ article.author }}</p>
            <p style="color: white;">{{ article.publishedAt | date }}</p>
            <p style="color: white; font-weight: 200;">{{ article.title }}</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-list>
  </ng-template>
</ion-content>